@charset "UTF-8";
// ===================================================================
//	File:	helpers/_variable.scss
//	Date:	2017-02-24(+09:00)
//	Note:	
// ===================================================================
// -------------------------------------------------------------------
// Web Font
// -------------------------------------------------------------------
$webfont_en: 'Open Sans', sans-serif;
$webfont_hannari: 'Open Sans', sans-serif;


// -------------------------------------------------------------------
// Color
// -------------------------------------------------------------------
// -------------------------------------------------
//		Color palette
// -------------------------------------------------
$base_corporate_color:	#ffb200;
$base_white_color:		#fff;
$base_green_color:		#396;
$color_policy:				#09f;
$color_course:			#c00;
$color_access:			#399;
$color_guide:				#f69;
$color_news:				#f90;
$color_contact:			#f90;
$color_kids:				#fe0000;
$color_ps:					#fc0;
$color_NE:				#2dbc3a;
$color_global:				#6672e3;
$color_info:				#666;
$color_faq:				#66c;
$color_required:			#f60;


// -------------------------------------------------
//		Base
// -------------------------------------------------
$base_text_color:		#333;
$base_bg_color:		#ffffff;// for BG
$base_border_color:	#ccc;// for BORDER
$base_footer_color:	#ccc;
$base_gnav_color:	#f2f2f1;
$base_gnav_hover_color:	#aeaead;


// -------------------------------------------------
//		Link
// -------------------------------------------------
$base_link_color:			#03f;
$base_visited_color:		$base_link_color;
$base_hover_color:		lighten($base_link_color,5%); // ↑のhover
$base_active_color:		$base_link_color;
$base_btn_color:			rgba(33,33,67,1);
$base_btn_color_hover:	lighten($base_btn_color,5%); // ↑のhover
$base_menu_color:		$base_corporate_color;
$base_menu_overlay:		rgba($base_white_color, .95);


// -------------------------------------------------------------------
// Base Overlay Depth
// -------------------------------------------------------------------
$base_depth:	1000;
$base_radius:	4px;


// -------------------------------------------------------------------
// Image Path
// -------------------------------------------------------------------
$image_path:	"../img/";


// -------------------------------------------------------------------
// Size
// -------------------------------------------------------------------
$site_width:		1264px;
$container_width:	980px;
$design_width:	1024;
$design_height:	768;


// -------------------------------------------------------------------
// Font Setting
// -------------------------------------------------------------------
$base_font_size:		13;
$base_font_family:	"Open Sans", Meiryo,"Hiragino Kaku Gothic ProN", sans-serif;
$base_font_family_mincho:	"Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, serif;
$base_font_family_rounded:	"Rounded Mplus 1c";
$base_line_height:	1.6;
$sp_base_font_size:	14;
$sp_base_line_height:	1.8;


// -------------------------------------------------------------------
// Padding
// -------------------------------------------------------------------
$base_padding: 10px;


// -------------------------------------------------------------------
// Break Point
// -------------------------------------------------------------------
$break_point_pc_max:			2560px;
$break_point_pc_min:			1080px;
$break_point_tablet_max:		1079px;
$break_point_tablet_min:		768px;
$break_point_mobile_max:	767px;
$break_point_mobile_min:	320px;


// -------------------------------------------------------------------
// Animation by monsterdive inc.
// -------------------------------------------------------------------
$IS_BASE_ANIMATION: true;
