@charset "utf-8";
// ===================================================================
//  File:	pages/_info.scss
//  Date:	2017-02-24(UTC+9)
//  Note:	
// ===================================================================
// -------------------------------------------------------------------
// 	.page-head
// -------------------------------------------------------------------
.xInfo {
	.page-head {
		.container {
			//	[media queries PC]
			// ----------------------------------------
			@include media(pc) {
				width: 810px;
				margin-right: auto;
				margin-left: auto;
				text-align: left;
			}
		}
		.page-title {
			text-align: left;
			.sub {
				margin-top: .6em;
				@include fontsize(18);
			}
		}
		.leadTxt {
			text-align: left;
		}
	}
}


// -------------------------------------------------------------------
// 	.info-unit
// -------------------------------------------------------------------
.info-unit {
	@include element(title) {
		margin-bottom: .8em;
		@include fontsize(18);
		font-family: $base_font_family_rounded;
		letter-spacing: .125em;
		font-weight: normal;
		//	[media queries PC]
		// ----------------------------------------
		@include media(pc) {
			@include fontsize(28);
		}
	}
	p {
		line-height: 2;
		& + p {
			margin-top: 1em;
		}
	}

	// 	.info-unit__body
	// -------------------------------------------------
	@include element(body) {
		padding: 0;
		text-align: left;
		//	[media queries PC]
		// ----------------------------------------
		@include media(pc) {
			padding: 1em 0 6em;
		}
		@include element(title) {
			margin: 0 auto 1.8em;
			font-family: $base_font_family_rounded;
			font-weight: normal;
			color: $color_info;
			@include fontsize(18);
			//	[media queries PC]
			// ----------------------------------------
			@include media(pc) {
				@include fontsize(24);
				margin-bottom: 3em;
				text-align: center;
			}
		}
		.title {
			@include fontsize(18);
			& + .leadTxt {
				margin-top: 1em;
			}
		}
		.leadTxt {
			//	[media queries PC]
			// ----------------------------------------
			@include media(pc) {
				line-height: 2.2;
			}
		}
		.number-list {
			margin-top: $base_padding*4;
			//	[media queries PC]
			// ----------------------------------------
			@include media(pc) {
				margin-top: $base_padding*3;
			}
		}
	}
	// -------------------------------------------------
	// 	.info
	// -------------------------------------------------
	.info {
		@include clearfix;
		padding: $base_padding*4 $base_padding*2;
		background: $base_white_color;
		@include alignC;
		//	[media queries PC]
		// ----------------------------------------
		@include media(pc) {
			display: table;
			width: auto;
			margin: auto;
			margin-top: 6em;
			padding: $base_padding*4;
		}
		img {
			width: auto;
			height: 40px;
		}
		.logo-bkh {
			padding: 0 2em 0 0;
		}
		dl:first-child {
			//	[media queries SP]
			// ----------------------------------------
			@include media(ｓｐ){
				margin-bottom: $base_padding*4;
			}
		}
		img {
			width: auto;
			height: 76px;
		}
		//	[media queries PC]
		// ----------------------------------------
		@include media(pc){
			dl {
				display: table-cell;
				padding: 0 $base_padding*2;
			}
		}
		dd {
			margin-top: 1em;
		}
	}
}
