@charset "utf-8";
// ===================================================================
//  File:	pages/_news.scss
//  Date:	2017-02-24(UTC+9)
//  Note:	
// ===================================================================
// -------------------------------------------------------------------
// 	.page-head
// -------------------------------------------------------------------
.xNews {
	.page-head {
		.container {
			//	[media queries PC]
			// ----------------------------------------
			@include media(pc) {
				width: 810px;
				margin-right: auto;
				margin-left: auto;
				text-align: left;
			}
		}
		.page-title {
			text-align: left;
			.sub {
				margin-top: .6em;
				@include fontsize(18);
			}
		}
		.leadTxt {
			text-align: left;
		}
	}
}


// -------------------------------------------------------------------
// 	.news-unit
// -------------------------------------------------------------------
.news-unit {
	// 	.news-unit__body
	// -------------------------------------------------
	@include element(body) {
		padding: 0;
		text-align: left;
		//	[media queries PC]
		// ----------------------------------------
		@include media(pc) {
			padding: 1em 0 6em;
		}
		.title {
			@include fontsize(18);
			& + .leadTxt {
				margin-top: 1em;
			}
		}
		.container {
			//	[media queries PC]
			// ----------------------------------------
			@include media(pc) {
				width: 810px;
				margin-right: auto;
				margin-left: auto;
				text-align: left;
			}
		}
	}
	.entry + .entry {
		margin-top: 4em;
		padding-top: 2em;
		border-top: 1px dotted $base_border_color;
	}
	.entry-title {
		@include fontsize(18);
	}
	.entry-body {
		margin-top: 2em;
		line-height: 2;
		//	[media queries PC]
		// ----------------------------------------
		@include media(pc) {
			@include fontsize(14);
		}
		& + p {
			margin-top: 1em;
		}
	}
}
