@charset "utf-8";
// ===================================================================
//  File:	pages/_pages.scss
//  Date:	2017-02-24(UTC+9)
//  Note:	
// ===================================================================
// -------------------------------------------------------------------
// 	.shoulder-title
// -------------------------------------------------------------------
.shoulder-title {
	box-sizing: border-box;
	padding: $base_padding $base_padding*2;
	@include fontsize(18);
	//	[media queries PC]
	// ----------------------------------------
	@include media(pc) {
		display: none;
	}
	.xPolicy & { background: $color_policy; color: $base_white_color; }
	.xCourse & { background: $color_course; color: $base_white_color; }
	.xAccess & { background: $color_access; color: $base_white_color; }
	.xGuide & { background: $color_guide; color: $base_white_color; }
	.xNews & { background: $color_news; color: $base_white_color; }
	.xContact & { background: $color_contact; color: $base_white_color; }
	.xInfo & { background: $color_info; color: $base_white_color; }
	.xFaq & { background: $color_faq; color: $base_white_color; }
}


// -------------------------------------------------------------------
// 	.page-title
// -------------------------------------------------------------------
.page-title {
	@include alignC;
	line-height: 1.2;
	.main {
		display: block;
		font-family: $base_font_family_rounded;
		@include fontsize(24);
		letter-spacing: .05em;
		//	[media queries PC]
		// ----------------------------------------
		@include media(pc) {
			@include fontsize(48);
		}
		strong {
			.xPolicy & { color: $color_policy; }
			.xCourse & { color: $color_course; }
			.xAccess & { color: $color_access; }
			.xGuide & { color: $color_guide; }
			.xNews & { color: $color_news; }
			.xContact & { color: $color_contact; }
			.xInfo & { color: $color_info; }
			.xFaq & { color: $color_faq; }
		}
	}
	.sub {
		display: block;
		@include fontsize(24);
		font-weight: normal;
		//	[media queries PC]
		// ----------------------------------------
		@include media(pc) {
			@include fontsize(16);
		}
	}
}

// -------------------------------------------------------------------
// 	.block-contact
// -------------------------------------------------------------------
.block-contact {
	margin-top: $base_padding*4;
	.container {
		//	[media queries PC]
		// ----------------------------------------
		@include media(pc) {
			display: table;
			width: auto;
			margin: 0 auto;
		}
	}
	.item {
		position: relative;
		box-sizing: border-box;
		text-align: center;
		color: #2c3e4a;
		//	[media queries PC]
		// ----------------------------------------
		@include media(pc) {
			display: table-cell;
			width: 50%;
			padding: 0 $base_padding*6;
			@include fontsize(18);
			&:first-child {
				border-right: 1px solid $base_border_color;
			}
		}
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			&:first-child {
				margin-bottom: $base_padding*4;
				padding-bottom: $base_padding*4;
				border-bottom: 1px solid $base_border_color;
			}
		}
		.title {
			margin: 1em 0;
			@include fontsize(18);
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				@include fontsize(16);
			}
		}
	}
	.contact__tel {
		&:before {
			position: relative;
			display: block;
			content: url('/koshigaya/share/img/ico_tel.png');
			width: auto;
		}
		.number a {
			display: block;
			width: 498px;
			height: 58px;
			margin: auto;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			background-image:url(/koshigaya/share/img/txt_phone.png);
			background-repeat: no-repeat;
			//	[media queries PC]
			// ----------------------------------------
			@include media(pc) {
				cursor: default;
			}
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				max-width: 100%;
				height: 58px;
				background-size: contain;
			}
		}
	}
	.contact__form {
		&:before {
			position: relative;
			display: block;
			content: url('/koshigaya/share/img/ico_mail.png');
			width: auto;
		}
		&__btn a {
			display: inlin-block;
			margin-bottom: 1em;
			padding: .4em 2em;
			border: 1px solid #2c3e4a;
			border-radius: $base_radius;
			color: #2c3e4a;
			@include transition(all ease .3s .1s);
			&:hover {
				background: #2c3e4a;
				color: $base_white_color;
			}
		}
	}
}

