@charset "utf-8";
// ===================================================================
//  File:	components/_page-head.scss
//  Date:	2017-04-10(UTC+9)
//  Note:	
// ===================================================================
body:not(.siteIndex) {
	//	トップページ以外に適用される
	// ----------------------------------------
	.page-head {
		background: url(#{$image_path}bg_content-top.png) 0 0 no-repeat;
		background-attachment: fixed;
		background-size: cover;
		height: $base_padding*8;
	}
}

