@charset "utf-8";
// ===================================================================
//  File:	components/_page-head.scss
//  Date:	2016-05-02(UTC+9)
//  Note:	
// ===================================================================
.page-head {
	padding: $base_padding*3 0 $base_padding*6;
	//	[media queries PC]
	// ----------------------------------------
	@include media(pc) {
		padding: $base_padding*9 0 $base_padding*6;
	}
	@include element(body) {
		margin-top: 2em;
		@include fontsize(16);
	}
	.leadTxt {
		line-height: 2;
		//	[media queries PC]
		// ----------------------------------------
		@include media(pc) {
			@include alignC;
		}
		& + .leadTxt {
			margin-top: 1.6em;
		}
	}
}
