@charset "utf-8";
// ===================================================================
//  File:	components/_table.scss
//  Date:	2017-02-24(UTC+9)
//  Note:	
// ===================================================================
@include media(sp) {
	.unit--table {	// スマートフォン対策
		position: relative;
		padding-top: 36px;
		.has--menu & {
			display: none;
		}
		&:before {
			position: absolute;
			top: 0;
			left: $base_padding*2;
			margin-bottom: 1em;
			padding: 0.04em 0.8em;
			background: lighten($base_corporate_color,20%);
			border-radius: 4px;
			content: '表はスクロールすることができます';
			@include fontsize(12);
			color: $base_white_color;
		}
		&__in {
			overflow-x: scroll;
			&:-webkit-scrollbar {
				height: 5px;
			}
			&:-webkit-scrollbar-track {
				border-radius: 5px;
				background: #eee;
			}
			&:-webkit-scrollbar-thumb {
				border-radius: 5px;
				background: #666;
			}
		}
	}
}


// 	.fact-table
// -------------------------------------------------
.fact-table {
	@include element(body) {
		width: 100%;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			width: 810px;
			margin-right: auto;
			margin-left: auto;
			@include fontsize(14);
		}
		th, td {
			padding: 1em;
			font-weight: normal;
			vertical-align: top;
			text-align: left;
			display: block;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				display: table-cell;
				padding: 2em 1em;
				border-top: 1px solid $base_border_color;
				border-bottom: 1px solid $base_border_color;
			}
		}
		th {
			background-color: lighten($base_border_color, 10%);
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				width: 30%;
				background: none;
			}
		}
	}
	.note {
		margin-top: 1em;
		line-height: 1.6;
	}
}
.nowrap {
	white-space: nowrap;
}
